
#product {
    margin-top: 20vh;
    height: 110vh;
    width: 100vw;
    background-size: cover;
    overflow: visible;
  }
  
  #product .tag {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 100px;
    color: #53CCBD;
    font-size: 1.3rem;
    padding: 5px;
    width: 11vw;
    margin: auto;
    text-align: center;
    margin-top: 15vh;
  }
  #product .header {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-top: 0.5vh;
  }
  
  #product .tagline {
    color: #ffffff;
    font-size: 1.3rem;
    width: 50vw;
    margin: auto;
    text-align: center;
    margin-top: -5vh;
  }
  #product .header2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: -10vh;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    animation: hue 10s infinite linear;
  }
  